.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.aboutText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.9;
  font-size: 22px;
}
.aboutTitle{
  margin-bottom: 100px;
}
@media screen and (max-width: 1020px) {
  .aboutText {
    font-size: 1rem;
  }
  #gushi {
    display: none;
  }
  .aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .aboutTitle{
    margin-bottom: 5px;
  }
}
@media screen and (max-height:680px) {
  .aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    
  }
  #gushi {
    display: none;
  }
  .one-more-text {
    display: none;
   
  }
  .aboutText{
    font-size: 0.8rem;
  }
}
@media (max-height: 490px) {
  .aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 100%;
  }
  #gushi {
    display: none;
  }
  .one-more-text {
    display: none;
   
  }
}