.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.aboutText{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.9;
  font-size: 22px;
}
.aboutTitle{
  margin-bottom: 100px;
}
@media screen and (max-width: 1020px) {
  #gushi {
    display: none;
  }
  .aboutText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 19px;
  }
  .aboutTitle{
    margin-bottom: 5px;
  }
}
