html,body{
  font-family: "Montserrat",sans-serif;
  height: 100%;
  margin :0;
  padding: 0;
}


h3{
  font-size: 3rem
}
p{
  padding-right: 40px;
  padding-left: 40px;
}


a:link {
  text-decoration: none;
 
}

a:visited {
  text-decoration: none;
}

/* .___snowStorm___{
  color:#f00;

} */
a:hover {
    text-shadow: 2px 2px 2px #535050;
}

a:active {
  text-decoration: underline;
  text-decoration-color:none
}
a:hover{
  cursor: pointer;
}

.fa:hover{
  cursor: pointer;
  text-shadow: 2px 2px 4px #535050;
}
.fas:hover{

  text-shadow: 2px 2px 4px #535050;
}


/* .fa-angle-double-up{
 
  
} */
*{
  z-index: 10;
}